


<div class="row">
  <div class="col-sm-6">
    <h1>Schools</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_school_path, class: 'btn btn-primary' do %>
    Add New School
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
        <th>Address</th>
        <th>Actions </th>
            
      </tr>
    </thead>

    <tbody>
      <% @schools.each do |school| %>
        <%= content_tag :tr, id: dom_id(school), class: dom_class(school) do %>
          
            <td><%= link_to school.name, school %></td>
          
              <td><%= school.address %></td>
              <td>
                <%= link_to 'Delete', school, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %> 
              </td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
